<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>There is nothing here.</title>
</head>
<body>
<div class="centered">
	<img src="{{ url_for('static', filename='img/memesaredreams.jpg') }}" alt="hi">	<br>
	There is nothing here.
</div>

<!-- Nah, the puzzle is at /u/your_github_username -->
   
          
                
               
                 
                   
                   
                  
                
           
                 
               
                  
                 
                  
               
           
               
               
                 
           
                
                     
                
           
                   
               
                  
               
                   
                
               
                  
                  
           
                
                  
               
                 
               
                  
                 
                  
                  
                  
           
                     
                 
           
                     
                  

  
 
 
      
   
  
 


   
 





</body>
</html>